* {
  margin: 0;
  padding: 0;
}

.date {
  text-align: end;
  margin-right: 20% ;
  color: #212529;
}

.nameblock {
  display: inline-block;
}

.surname {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(189, 93, 56);
}

.name {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(52, 58, 64);
}

.address {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #6c757d;
}

a {
  color: #bd5d38;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: #6c757d;
  width: 70%;
}

h2,
h3,
h4,
li {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #343a40;
}

.ul {

  list-style-type: none;
  width: 15%;
  background-color: #bd5d38;
  position:fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
}

li a {
  margin-top: 20px;
  color: #eef5ff;
  display: block;
  text-decoration: none;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active):not(.img) {
  background-color: #555;
  color: white;
  transition: color 0.15s ease-in-out, background-color .30s ease-in-out;
}

li{
  list-style: none;
}
.margin
{
  margin-left: 20%;
}

.img
{
  margin-top: 50%;
  border-radius: 50% !important;
  border: #212529;
  border: solid 5px;
}